.idea/*
node_modules/
npm-debug.log
.DS_Store
coverage/
dist/
# Angular2Harmony App GitIgnore Settings
data.json
typings/
app/main/administration/serviceprovider/partials/*.js
app/main/administration/serviceprovider/partials/*.map
app/*.js
app/*.map
app/main/administration/*.js
app/main/administration/*.map
app/main/administration/identityprovider/*.js
app/main/administration/identityprovider/*.map
app/main/administration/serviceprovider/*.js
app/main/administration/serviceprovider/*.map
systemjs.config-compiled.js
systemjs.config-compiled.js.map
app/main/hosts/*.js
app/main/hosts/*.map
app/main/logs/*.js
app/main/logs/*.map
app/main/partners/*.js
app/main/partners/*.map
app/main/router/*.js
app/main/router/*.map
app/main/scheduler/*.js
app/main/scheduler/*.map
app/main/transfers/*.js
app/main/transfers/*.map
app/login/*.js
app/login/*.map
app/main/*.js
app/main/*.map
*-compiled.js
*.map
.idea/
